body{
    padding: 0;
    margin: 0;
    font-family: 'Young Serif', serif;
}
header .texe-paragraph-entete{
    letter-spacing: 3px;
}
.header{
    margin-top: 0;
    padding-top: 0;
    background-color: red;
    background: center url('/Images/img-orange1.jpg');
    width: 100%;
    height: 500px;
    text-align: center;
}
.logo p{
    color: #fff;
    padding-left: 2rem;
}
.header-nav{
    display: flex;
    justify-content: space-between;
}
div ul{
    list-style: none;
    display: inline-flex;
    padding-right: 2rem;
}
div .elt-list a{
    text-decoration: none;
    padding: 0 0.875rem;
    transition: ease .3s all;
    color: #fff;

}
div .elt-list a:hover{
    background: #fff;
    color: #0e0e0e;
    height: 1rem;
    width: 1rem;
    padding: 0.5rem;
    border-radius: 15px;
}
.texe-paragraph-entete{
    color: #fff;
}
.img-fleche-sur-orange{
    width: 8rem;
    height: 12rem;
}
/*La partie principale -- le main --*/
/*Section 1*/
.section{
    display: flex;
    width: 100%;
    height: 30rem;
    text-align: center;
}
.texe-section1, .texe-section2{
    background-color: #fff;
    width: 50%;
    text-align: start;
}
/*.bonjour{
    background: red;
    padding-left: 8rem;
    padding-right: 8rem;
}*/
.img-section1, .img-section2, .img-section3b, .img-section3a{
    width: 50%;
    height: 30rem;
    padding: 0;
    margin: 0;
}
.image-oeuf{
    height: 30rem;
    width: 100%;
}
.titre-section1, .titre-section2{
    padding-top: 8rem;
}
.paragraph-section1, .paragraph-section2, .titre-section1, .titre-section2, .link-learn-more-section{
    width: 70%;
    padding-left: 5rem;
}
div .paragraph-section1, .paragraph-section2{
    color: #777;
}
.link-learn-more-section{
    text-decoration: none;
    color: #0e0e0e;
    text-transform: uppercase;
    transition: ease .3s all;
}

.link-learn-more-section:hover{
    background: rgb(157, 118, 118);
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}
.img-section3a, .img-section3b {
    position: relative;  
}
div .text-section3a, .text-section3b{
    position: absolute;
    top: 56%;
}
.paragraph-section3{
    padding-left: 7rem;
    padding-right: 7rem;
    color: #777;
}

.section4{
    text-align: center;
}
.testimony-title{
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: #777;
    letter-spacing: 3px;
}
.temoignage-client{
    display: flex;
}
.card{
    width: 30%;
    padding: 0 3rem 2rem 2rem;
    transition: ease 0.3s all;

}
.card:hover{
    width: 30%;
    cursor: pointer;
    background: rgba(255, 179, 203, 0.18);
    border-radius: 10px;
    box-shadow: (255, 179, 203, 1);
}
.paregraph-temoignage{
    color: #777;
}
.profession-client{
    color: #777;
    font-size: 0.875rem;
}
.img-client-temoignage{
    padding-top: 1rem;
    border-radius: 50%;
    width: 7rem;
}
.section5{
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.section5 img{
    width: 25%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.section5 .flex1{
    flex: 500px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #83c472;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
}
.logo-bas-de-page{ 
    padding-top: 4rem;
    margin-top: 0;
    color: #444;
}
.list-footer{
    list-style: none;
    display: inline-flex;
}
.list-footer li a{
    text-decoration: none;
    padding: 1rem;
    margin-bottom: 8rem;
    text-align: center;
    color: #444;
    transition: ease .3s all;
}
.list-footer li a:hover{
    color: red;
    font-size: larger;
}
div ion-icon{ 
    margin-top: 2rem;
    cursor: pointer;
    padding-right: 1rem;
    transition: ease .3s all;
}
.logo-pinterest{
    padding-right: 0;
    margin-right: 0;
}
div ion-icon:hover{
    color: red;
    margin-top: 2rem;
    padding-right: 1rem;
    width: 2rem;
    height: 2rem;
}
footer .reseaux-sociaux-footer{
    padding-bottom: 3rem;
}